<div class="card border-success" style="width: 30rem;">
    <div class="body">
        <div class="card-header">
            <h1 class="card-title">Información de la App</h1>
        </div>
        <div class="card-body bg-success">
            <p>Este es un sitio web ha sido desarrollado por los estudiantes
                de la Maestría en Sistemas Computacionales del 
                Instituto Tecnológico de Zacatecas
            </p>
        </div>
        <div class="text-center">
            &copy; Copyright 2023 JILV
        </div>
    </div>
</div>