 <div class="row align-items-center container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4"
        style="position:absolute; bottom:0; display:flex; align-items:center; justify-content: center;"
    >
        <small class="text-white ">Copyright &copy; JILV 2023</small>    
    </nav>
 </div>
